.view {
  /*background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
  background-size: cover;*/
  background-color: rgb(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 4px 6px -6px #163d39;
  -moz-box-shadow: 0 4px 6px -6px #163d39;
  box-shadow: 0 4px 6px -6px #163d39;;
}
/*@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}*/
.navbar {
  z-index: 999;
  height: auto !important;
  position: fixed;
  top: 0;
  font-size: 1.2rem;
  letter-spacing: 0.25px;
}
.navbar-brand img{
  width: 200px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #163d39;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d30a0f;
}

html,
body,
header,
.view {
height: 100%;
}
