/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Kenyan Coffee";
  src: url("/assets/fonts/kenyan coffee rg.ttf") format("ttf"),
         url("/assets/fonts/kenyan coffee rg.ttf") format("ttf");
}

h4 {
  font-family: 'Kenyan Coffee';
}
