.container {
  padding-top: 120px;
  position: relative;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 75px;
}
h1 {
  font-size: 2.5rem;
}
.details {
  margin-top: 60px;
}
.btn {
  border-radius: 0;
  width: 50%;
}
.btn-red{
  background-color:#d30a0f;
  border-color: #d30a0f;
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #fff;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.btn-red:hover {
  background-color: #e73221;
}
.btn-yellow{
  background-color:#fbb900;
  border-color: #fbb900;
  font-size: 1em;
  letter-spacing: 0.5px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.btn-yellow:hover {
  background-color: #fdc401;
}
