.view {
  /*background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
  background-size: cover;*/
  background-color: rgb(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;;
}
/*@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}*/
.navbar {
  z-index: 1;
  height: auto !important;
}
.navbar-brand img{
  width: 200px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000;
}
html,
body,
header,
.view {
height: 100%;
}
