footer {
    width: 100%;
    color: #FFFFFF;
}
a{
    color: #163d39;
}
a:hover {
  text-decoration: none;
  color: #d30a0f;
}
.social{
    display: flex;
    justify-content: center;
}
.blue{
    background-color: #49b1b1;
}
.deep-blue{
    background-color: #fbb900;
}
